
{{> head}}


{{> navbar}}

<div class="row">
    <div class="col-8" >
        <h1>Tituulo abaout</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/out.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer}}

   